[2019-02-25 06:55] DrDrij opened #50 "Symlink used allowing Sphinx to see `_static`"
As a temporary measure while simplifying the structure of the repository directories we've added a symlink so that sphinx and sphinxcontrib-jupyter can reference the `_static` directory.

https://github.com/QuantEcon/lecture-source-py/blob/master/source/rst/_static

**Note:** This won't be compatible with Windows.

[2019-02-27 01:30] DrDrij commented on #50
@jstac

I think I've exhausted all avenues here. It appears creating something like the following:

[code]

would involve writing new sphinxcontrib extensions extending each of the directives used in the source files (figure, include, literalinclude, bibliography).

So the quickest an simplest way to (1) remove the need for symlink (2) fix all links to asset files within the new directory structur

[2019-04-04 23:16] natashawatkins opened #49 "Update pip"
Can we update pip on the execute server to get rid of this message?

@jstac should we have this here anyway? It looks like joblib comes with anaconda

![image](https://user-images.githubusercontent.com/21038129/55594568-d5c46780-578b-11e9-8efb-10da3dc2b473.png)

[2019-04-04 23:34] jstac commented on #49
It does?  It's not in my local installation, which is quite recent...

[2019-04-04 23:52] natashawatkins commented on #49
It's listed on the Anaconda page: https://docs.anaconda.com/anaconda/packages/py3.7_linux-64/

Also seems to be installed on colab already:
![image](https://user-images.githubusercontent.com/21038129/55595677-c398f800-5790-11e9-9a5e-03f269518f95.png)

[2019-04-05 00:25] jstac commented on #49
I just reinstalled anaconda to test this and `import joblib` fails.

I guess for now we should continue the convention of supposing that users have plain vanilla anaconda.

[2019-06-19 06:25] jstac opened #51 "Update README to reflect new build system."
We need to keep the instructions on the README page up to date with the changes in the compile system.

@mmcky and @AakashGfude , could you please take responsibility for keeping the instructions on compilation and publishing up-to-date?

Do we need the discussion of Jinja?

@AnjuJoon We discussed some changes to the README on conventions.  For example, we should insist that cite keys use the defa

[2019-06-19 06:27] jstac commented on #51
Actually, now I think about it, we don't want to repeat instructions on compilation here, do we?  That's a bad idea!  Rather, we should just point to the build system repo, whatever you want to call it, which itself has good documentation on how to compile a source repo.

Anything on our README should be on specific conventions for this particular source repo.

[2019-06-19 06:48] AnjuJoon commented on #51
@jstac I have updated other things in the read me file before. so only this one is there for conventions. I will edit the style guide for this one.

[2019-06-19 06:51] jstac commented on #51
Great, thanks @AnjuJoon.  Over to you then, @AakashGfude and @mmcky

[2019-07-03 02:01] mmcky commented on #51
thanks @AnjuJoon when you generate a PR please reference this issue and it will automatically close.

[2019-07-03 02:10] mmcky commented on #51
This PR will need to be merged first and will contain the details. https://github.com/QuantEcon/lecture-source-py/pull/449

[2019-07-04 02:46] AnjuJoon opened #41 "To find a proper place for watermark of Quantecon on global pdf"

[2019-07-11 09:28] mmcky commented on #49
The build server is currently showing

<img width="1100" alt="image" src="https://user-images.githubusercontent.com/8263752/61039393-fe56a000-a411-11e9-8f32-4d2b65d77f5d.png">

is this still an issue?

[2019-07-11 09:32] mmcky commented on #50
@AakashGfude could you please try this tomorrow.

Can we specify the following in the `conf.py` file now that we had relocated it to the root level?

[code]

If it works can you please setup a PR to make the change and remove the symlink that we have used to date. Then we will have `source/rst/` and `source/_static/` and we can close this issue.

[2019-07-11 09:36] jstac commented on #49
We should keep the pip install but suppress output.  Could someone please implement and then close this issue?

[2019-07-11 09:37] jstac commented on #49
Also, please remove "start Jupyter and" as well as "from within a notebook"

[2019-07-16 03:10] mmcky opened #48 "ENH: Enable Travis Cache to Test CI for lectures?"
It might be possible to cache the `sphinx` repo in a travis cache which could enable cached building of the `lectures-source-py`. This might enable `CI` for lectures with sync to `preview` for viewing PR results

https://docs.travis-ci.com/user/caching/

[2019-07-18 04:01] mmcky commented on #48
We could try one of the following strategies:

1. use `travis` to build (need to add travis wait 120 minutes)
1. use `travis` to  cache the `_build` directory for future CI runs
2. use encrypted `travis` credentials to deploy to s3://preview-lectures.quantecon.org/py/ (docs: https://docs.travis-ci.com/user/deployment/s3/)

alternatively, we could use travis to trigger a build on `ec2` build instan

[2019-07-18 04:08] mmcky commented on #48
- [ ] use travis encryption to provide access to projects (https://docs.travis-ci.com/user/encryption-keys/)

[2019-07-19 06:43] mmcky opened #47 "DIS: Is ``jupyter_image_urlpath`` confined to ``jupyter_download_nb`` option?"
Investigate if ``jupyter_image_urlpath`` is confined to ``jupyter_download_nb``. I think the ``html`` source ``ipynb`` still make use of this prefix when generating the html rather than ``relative`` references

https://github.com/QuantEcon/lecture-source-py/blob/13b6b7df26461789666fa12dcd8cf933e55dba0d/Makefile#L50

[2019-08-09 04:20] mmcky opened #44 "FEAT: Add HTML deployment via Travis"
It would be nice to have PR's auto-deploy `html` once ready to be merged. Ideally the workflow would be:

1. Submit a PR
1. `travis` builds the changed RST files in the PR, deploys to a preview `s3` bucket, and writes a comment on the PR (with link the preview)
1. `travis` deploys to the changed pages to the live site on `merge`

Reading the docs suggest this is all possible and below are some res

[2019-08-15 04:23] mmcky commented on #44
https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/

[2019-08-15 04:45] mmcky opened #37 "Test: Compare website made serially and in parallel"
We should test the `html` and compare the results for serial and parallel execution to make sure
the results are exactly the same.

Then we can confidently switch compilation on the build server to parallel.

[2019-08-31 20:08] Jacob-Bishop opened #42 "`make view` fails with Sphinx error - maybe related to symlink?"
Hi All,

I tried to download these lectures following the instructions in this repo's readme, using Windows 10 and gnuwin32's Make for Windows. I've cloned the repo with symlinks enabled  (-c core.symlinks=true).

When I run `make notebooks`, I get a warning "WARNING: jupyter_static_path entry C:\[my path]\lecture-source-py\_static does not exist", and then when I try to run `make view`, I get the

[2019-09-19 21:34] gen-li commented on #42
Hi,
When I try to run `make view`,  I got same error message but in mac. Anyone has solution?

Best regards,

Gen

[2019-09-19 23:11] jstac commented on #42
Thanks for your feedback guys.  We've migrated to a new build system and the old one is no longer supported.

@mmcky and @DrDrij, could you please update @gen-li and @Jacob-Bishop about how to use the new build system after the switch to a generic theme?

[2019-09-27 01:20] mmcky commented on #42
hi @Jacob-Bishop and @gen-li as @jstac suggests we are in the process of migrating our projects. I will update this once that migration is complete -- probably in a week or so.

[2019-10-11 00:49] mmcky opened #46 "Clean Console Errors for python.quantecon.org"
Review and Clean Console Errors

[2019-11-18 23:00] jstac opened #54 "update grad course and undergrad course indices"
These have fallen out of date because they need to be maintained manually and it's easy to forget.  Please discuss with @jstac

[2019-12-08 08:53] jstac opened #38 "use quantecon's rank_size_plot"
Do a search for all rst files that contain `rank_size`.

Replace the rank size plotting code there with the code in [this PR](https://github.com/QuantEcon/QuantEcon.py/pull/518) as soon as it is merged.

[2019-12-08 17:58] jstac opened #53 "fix broken links"
These links need to be fixed ASAP, especially the one in ``about_lectures``

[code]

[2019-12-10 06:09] mtiley commented on #53
The first has been resolved by changing the link in QuantEcon/lecture-source-py#810 . I have no problems opening the others from the web lectures or notebooks but I suppose some people might.

Where is this output from? I can't replicate it jupinx. What follows is based on the assumption that the output is from jupinx compilation, and is the result of some link-checking process.

- I think the eco

[2019-12-10 09:57] mmcky commented on #53
hey @mtiley thanks for looking into these things.

Do the links resolve despite these certificate issues? We may need to add an exclusion for these types of errors. Is there anything unique to identify them (i.e. a string) that we could filter them out of the results?

[2019-12-12 02:38] mtiley commented on #53
They are working fine for me in Firefox and Chrome, without proxy or VPN. I think the broken messages are caused either by problems with the servers we're linking to or type 1 errors in the checking process, more likely the former. Or the checking process is being more picky than my browser.
I think it's probably still good to be warned about the other problems and to manually check if the links w

[2019-12-13 17:49] jstac opened #20 "Should we change all Python code-block directives to ipython3?"
It's easy to forget and use `python3` when you also use a cell magic.

(I usually copy and paste from the code block above.)

Should `ipython3` be the default?  Is there a downside to that change?

CC @mmcky @AakashGfude

[2019-12-14 01:39] mmcky commented on #20
I don't see a downside to this option. We just shouldn't change the default language to `ipython3` as that is used for the `kernel` in the notebook -- but any ``.. code-block`` is a good idea.

[2019-12-26 22:06] mmcky opened #52 "[exchangeable] Add contents directive"

[2020-02-11 02:49] AakashGfude opened #45 "Fonts in MacTex not available as system fonts"
Non-standard Fonts which are required by [lecture-source-py](https://github.com/QuantEcon/lecture-source-py) and being packaged with MacTex, like CMU Serif and Liberation Mono, are not automatically able as system fonts.
The following resource walks through the steps to make it available as system fonts in Linux:-   http://latex.silmaril.ie/formattinginformation/fontuse.html. But no concrete solut

[2020-02-11 05:39] mmcky commented on #45
hey @shlff and @AakashGfude I would recommend the install of fonts on `osx` via `homebrew`.

https://github.com/Homebrew/homebrew-cask-fonts

[2020-02-18 21:51] jstac commented on #42
@mmcky, could you please close this when you are ready?

[2020-02-27 05:08] jstac opened #8 "Add a Contributors page for Projects"
It has been agreed that the licence content should be switched to https://creativecommons.org/licenses/by-sa/4.0/.

Steps

1. change the footer in the lectures.
2. remove all co-author statements --- has to be done carefully because the wording varies so it's hard to search.
3. add a contributors page like [this one](https://datascience.quantecon.org/contributors.html), at first with a few sentenc

[2020-02-27 05:57] AakashGfude commented on #8
Regarding point 3, we can fetch all the contributor's data with API like `https://developer.github.com/v3/repos/#list-contributors` for the particular repo.
But, this gives a list of all the contributors regardless of the folders they have contributed in, including me who have mostly tampered with `Makefile` or `conf.py` and other programming files, but not the `.rst` themselves, and should not be

[2020-02-27 06:12] jstac commented on #8
I like @AakashGfude 's first idea.  It sounds simple.  It's fine that those contributing to infrastructure get their commits counted too.

We can combine that data with a few qualitative sentences, such as "XXX co-authored the lecures on YY and contributed to development of ZZ".

[2020-03-06 04:30] mmcky commented on #8
@jstac do you have an RA in mind to go through the pages to remove the `co-author` lines?

I think we now have 1 and 3 sorted.

[2020-03-06 04:49] mmcky opened #9 "Migration Plan for Split of Lectures"
The migration plan for the split into 3 lectures (#950) will be:

- [x] setup `aws` infrastructure (@DrDrij)
- [x] setup `github` repositories for three new lectures series (@mmcky)
- [x] use QuantEcon/lecture-source-py#956 to filter lectures in each repository and adjust `index` files (@mmcky)
- [x] add each repository to the `build` server and `QuantEcon.aws.admin` (@mmcky)
- [x] review deployme

[2020-03-06 05:16] jstac commented on #8
@sayaikegawa might be willing to help with this.

[2020-03-06 05:25] mmcky commented on #8
Once the three referenced issues are closed -- this issue is largely resolved. However we should migrate Aakash recommendation to a new issue to track improvement for `collaborator` page.

[2020-03-06 07:23] AakashGfude commented on #8
@jstac , do you plan to manually form these sentences, or automatically. If automatically then we will have to use a combination of both APIs mentioned above. We will get a clear picture of complexity though when the implementation starts.

[2020-03-11 08:13] jstac commented on #8
Hi @AakashGfude , I discussed this today with @mmcky and we felt like a manual solution would be best.

[2020-03-11 08:13] jstac commented on #8
@sayaikegawa provided a list of names in https://github.com/QuantEcon/lecture-python-programming/issues/4.

[2020-03-12 02:36] mmcky commented on #8
only thing left on this issue is:

- [ ] add a contributors page like this one, at first with a few sentences describing their contributions. (@DrDrij can you add this to your todo list?)

[2020-03-13 01:45] mmcky opened #10 "Update python.quantecon.org once Lecture Split goes live"
- [ ] `python.quantecon.org` -> new landing page

[2020-03-15 10:02] DrDrij commented on #10
Working on this now..

[2020-03-17 05:31] sayaikegawa opened #2 "Name List for Contributors Page"
This is the name list of people who contributed to QuantEcon.
[Name_List.xlsx](https://github.com/QuantEcon/lecture-source-py/files/4341600/Name_List.xlsx)

[2020-03-17 05:42] mmcky commented on #8
Namelist is attached to issue QuantEcon/lecture-python-website#2

[2020-03-17 05:49] sayaikegawa commented on #2
Hi @mmcky , this name list has the names of people who are mentioned in the current credit page and who wrote lectures. Would it be better add people who are on the team page as well?

[2020-03-18 01:40] mmcky opened #1 "[theme] setup general theme for all python lectures"
Setup a general theme for all python lectures that includes `sphinx` metadata pass through to the `tpl`.

1. setup `lecture-python-website.theme` that can be applied to all projects.

[2020-03-18 05:06] mmcky commented on #9
Deployment Check List

- [x] merge PR for `QuantEcon.aws.admin`
- [x] populate `build` instance with `python` repos including `theme` and `notebooks` support repos
- [x] deploy `lecture-python-programming`
- [x] deploy `lecture-python-intro`
- [x] deploy `lecture-python-advanced`
- [x] switch `lecture-python-website` to existing bucket to switch to `3` project structure

[2020-03-18 05:08] mmcky commented on #2
@DrDrij perhaps this contributor page can be setup in this general level repository.

[2020-03-18 05:50] mmcky opened #3 "[Theme] Differentiate between the python lectures"
@DrDrij we would like to have a differentiator between the three `python` lecture series.

I agree with @jstac. Perhaps a colour change between the `python` lecture series?

[2020-03-18 05:57] mmcky opened #4 "[travis] update travis to trigger linkchecking for changed rst files"
It would be nice to have link checking done before merging of any PR

There will also be a weekly link check on the `build` instance for links in documents that aren't being edited. Getting these results could also be improved.

[2020-03-18 06:36] jstac commented on #2
Copy and pasting from slack, regarding python.quantecon.org, I wrote

 "So, my proposal is that we have, perhaps in/after that text at the top ("A series of lectures") a link that says "Read more" or "About these lectures".  Then, it links to a subpage that gives background plus general troubleshooting info that applies to all three lecture series."

I suggest that we put all these names in that s

[2020-03-18 09:20] mmcky commented on #2
thanks for posting that here @jstac

[2020-03-19 01:01] AakashGfude commented on #1
@mmcky @DrDrij, we can list the variables in `sphinx` metadata we need to pass through in this thread, and then I can implement it in `sphinxcontrib-jupyter` ?

Something on the lines of:-  https://github.com/QuantEcon/lecture-python-programming.theme/pull/1

[2020-03-24 05:09] mmcky opened #6 "Update "about these lectures""
https://beta.python.quantecon.org/about/

[2020-03-26 03:04] mmcky commented on #8
@DrDrij this is probably what needs to be worked on next. Current the `github` link is not providing a very accurate picture. Otherwise I have been really hard at work at writing lectures `:-)`. It would be great to have a manually constructed contributor page and redirect the links.

[2020-03-26 03:06] mmcky commented on #9
@DrDrij
- [x] The new python button should direct to the landing page in QuantEcon/lecture-source-py#961

[2020-03-26 12:24] DrDrij opened #11 "Switching python back to lecture site"
**To switch between between the python lecture site and the new python landing page at `python.quantecon.org` you need to remove one of the following records and add the other.**

All the settings are made in Route53 on the AWS Console: https://console.aws.amazon.com/route53/home?region=ap-southeast-2#resource-record-sets:Z1Q6W7J7TUQ68R

eg. To revert the python lecture site, delete the `python.qu

[2020-03-27 00:05] mmcky commented on #11
thanks @DrDrij

[2020-03-27 03:12] mmcky commented on #9
thanks for you help with the deployment @DrDrij

[2020-03-27 03:12] #9 closed, assigned to DrDrij, mmcky

[2020-03-27 03:12] #10 closed, assigned to DrDrij

[2020-03-27 03:14] mmcky opened #12 "[theme] add a series context bar"
@jstac had a great idea. It would be nice to have a context bar (below the current top menu bar) that shows users which lecture series they are reading and an easy way to navigate to another lecture set.

Conversation from slack.

[code]

[2020-03-30 23:00] mmcky opened #14 "[awstats] Update"
It would be great to update (or aggregate) aws stats for the new lecture structure

This doesn't seem to be working
http://awstats.quantecon.org/awstats/awstats.pl?config=python.quantecon.org

[2020-04-05 13:32] DrDrij commented on #12
- Added the site nav bar
- Added QE logo squares in the header to replace "Go to QuantEcon"
- Search across sites seems to work well? (https://python.quantecon.org/search/?q=classical%20theorems)

https://python.quantecon.org/

[2020-04-05 18:43] jstac commented on #12
Thanks @DrDrij !

Looks great.  Some small requests:

* The site nav bar is great but I think we should have it on the three sub-sites (programming, intro, advanced) rather than the top level site (python.quantecon.org).  Or we could have it on all 4, but I think that's excessive, since it's easy to navigate from the top-level site.

* In the nav bar "Home" is good but for the other three, instead

[2020-04-05 20:58] jstac commented on #12
Ok, so don't get mad because I'm going to change my mind :grimacing:

Everying above, except the last point.  Instead of changing "About these lectures" to "About", please drop it altogether.

Instead, please add a sentence of text immediately below the black header with the following:

"This project provides a series of online textbooks on Python programming and quantitative economic modeling, de

[2020-04-06 04:13] mmcky commented on #12
hey @DrDrij once there are PR's for the three lecture series `theme` repos. Can you add them here and I will then merge them and update the `build` server.

[2020-04-07 11:07] DrDrij commented on #12
PRs have been created across the 3 py sites with the new site-bar nav.

![image](https://user-images.githubusercontent.com/5886045/78662145-40fec780-7913-11ea-96af-057f91437e1f.png)

Also @jstac I've updated the landing site: https://python.quantecon.org/

![image](https://user-images.githubusercontent.com/5886045/78662662-2c6eff00-7914-11ea-9ad3-c9dbd56de7f5.png)

[2020-04-07 17:51] jstac commented on #12
Perfect!  Thanks @DrDrij !

[2020-04-07 18:11] jstac opened #15 "Small adjustment to 2nd level pages"
On the page

https://python-intro.quantecon.org/

could we please have the "Open source lectures" heading removed and the GitHub box combined with the other two, so there are three boxes under "Other ways to...".

Please remove the sentence "Readers can view the source... changes)"

The same for the other two (programming and advanced).

[2020-04-07 18:13] jstac commented on #15
Ah, and the link from that GH box is outdated!  It leads to the old lecture site repo.  Adding high priority.

[2020-04-07 20:07] DrDrij commented on #15
Will fix this morning.

[2020-04-07 21:28] DrDrij commented on #15
https://github.com/QuantEcon/lecture-python-intro/pull/105
https://github.com/QuantEcon/lecture-python-programming/pull/30
https://github.com/QuantEcon/lecture-python-advanced/pull/110

[2020-04-08 06:39] mmcky opened #17 "[quantecon theme] support for myst and jupyter book"
@DrDrij this is a longer term project but it is probably time we start to look at adapting our `QuantEcon` theme to support the incoming `myst` projects being compiled with `jupyter book` and the new `executable book project` build tools.

@najuzilu has put together a version of `lecture-python-programming` that uses `jupyterbook` to build the website [here](https://github.com/ExecutableBookProjec

[2020-04-23 05:02] shlff opened #18 "A reference link problem in lectures' downloadable ipynb files"
Good evening, @jstac and @mmcky . @AakashGfude and I found a possible issue about downloadable ``ipynb`` files for all lectures:

- Assume that we only download one lecture's ``ipynb`` file without downloading [reference](https://python.quantecon.org/zreferences.html)'s ``ipynb`` file. If, in the lecture's ``ipynb`` file, there is a link connecting to a paper in the reference, then the link cannot

[2020-04-23 05:04] Harveyt47 commented on #45
Hey @AakashGfude @shlff can this be closed?

[2020-04-23 05:09] Harveyt47 commented on #53
@mmcky I think this can be closed

[2020-04-23 05:11] jstac opened #19 "More uniformity in figure sizes"
Right now figure sizes are all over the shop, without any common rule.

I suggest that, for any standard figure, we remove the `figsize=(x,y)` argument and use the default size instead.

Then we can figure out the best way to set the default size.

For nonstandard figures, such as those with multiple subplots, we should treat them individually, just by looking at them, but with the default size as

[2020-04-23 05:19] Harveyt47 commented on #54
@mmcky given the split this can be closed?

[2020-04-23 05:24] jstac opened #21 "Some unicode issues"
From [this discussion](https://github.com/numba/numba/issues/4816) it seems we are better off using `\varphi` and `\varepsilon` in our code.

It would be good if someone could do a careful search and replace.

[2020-04-23 05:26] mmcky opened #22 "Migrate data from QuantEcon.lectures.code to Quilt"
Lectures that use `QuantEcon.lectures.code` currently download from github. It might be nice to host a quantecon `quilt` dataset (https://github.com/quiltdata/quilt) instead

- [ ] setup `quilt` dataset
- [ ] deprecate `QuantEcon.lectures.code`

[code]

[2020-04-23 05:32] Harveyt47 commented on #49
@mmcky can this be closed?

[2020-04-23 05:35] Harveyt47 commented on #52
@mmcky can this be closed?

[2020-04-23 05:49] jstac opened #23 "Possible new lecture on micro shocks by Baqaee and Farhi"
See https://onlinelibrary.wiley.com/doi/abs/10.3982/ECTA15202

Their key idea (failure of first order approximation) could be nicely illustrated by simulation.

[2020-04-23 05:51] jstac opened #24 "De Nardi richer income dynamics paper"
This could be a good lecture: https://www.nber.org/papers/w21917

It's a nice quantitative study.

[2020-04-23 05:52] jstac opened #25 "Add lecture on granular origins of aggregate fluctuations"
The paper by Gabaix, introductory model.

Compare under Pareto and lognormal.

Perhaps adjust lognormal volatility/scale parameter so that GDP growth has similar mean.

Adjust mu to match the median of the Pareto dist.

Now compare volatility.

[2020-04-23 05:53] jstac opened #26 "New lecture on eigenfunctions and eigenvalues"
The following suggestion is from @thomassargent30.  (Sorry I haven't made progress on this.)

Ideas for a lecture or pair of lectures on eigenvalues and eigenfunctions
=======================================================

* Discrete state Markov chains

  - Interpretation of unit eigenvalues and associated eigenvectors

  - Interpretation of second biggest  eigenvalues -- rates of convergence

[2020-04-23 05:56] jstac opened #27 "Possible new lecture on capital structure"
@thomassargent30 Suggests this interesting looking paper as a good candidate for a new lecture:

https://pdfs.semanticscholar.org/ade3/468b8521a0ac5688533c023162c1308f3c7a.pdf

I am in favor.

[2020-04-23 05:57] jstac opened #28 "Add econ geography lecture?"
The model seems to be well known and requires a numerical solution:

http://www.sciencedirect.com/science/article/pii/0014292193900175

It would be nice to have something on econ geography. I'll suggest this as a target for replication in my class and see if anyone takes it up.

(Thanks @mmcky for suggesting.)

Edit: I think there are related models that require computation in his book on econ geo

[2020-04-23 05:58] jstac opened #29 "New lectures on default?"
The contraction mapping result of https://www.sciencedirect.com/science/article/pii/S0022053119300857

as well as

https://bfi.uchicago.edu/research/working-paper/contagion-sovereign-default-0

[2020-04-23 05:59] jstac opened #30 "Add a lecture on Howard PFI?"
Compare with other methods. For example, in the optimal growth setting, how does it compare to Coleman policy iteration or value function iteration?

[2020-04-23 06:00] jstac opened #31 "LQ portfolio choice"
http://www.quantatrisk.com/2014/05/16/asset-allocation-for-tangent-portfolio-with-risk-free-asset-in-python/

[2020-04-23 06:01] jstac opened #32 "Lecture on Gale Shapely matching?"
Background:

http://www.nytimes.com/2014/12/07/nyregion/how-game-theory-helped-improve-new-york-city-high-school-application-process.html
http://en.wikipedia.org/wiki/Stable_marriage_problem

In particular,

http://en.wikipedia.org/wiki/Stable_marriage_problem#Algorithm

[2020-04-23 06:02] jstac opened #33 "Oberfield's theory of input-output architecture"
Possible new lecture: https://onlinelibrary.wiley.com/doi/abs/10.3982/ECTA10731

[2020-04-23 06:08] mmcky opened #34 "Review PDF (Compare with Web) for any missing elements / style adjustments"
@mtiley it would be great to review the PDF files to check for any:

1. missing content
1. style issues that make the pdf difficult to read

[2020-04-23 06:09] AakashGfude opened #35 "Formatting and styling issues in book pdf"
- [ ]  adjust the alignment of column headers of the table in the output block
![table](https://user-images.githubusercontent.com/6542997/69204076-0d0c4b00-0b9a-11ea-916e-cb5105f6597d.png)

- [ ] misaligned print statement in this case
![print](https://user-images.githubusercontent.com/6542997/69204219-64122000-0b9a-11ea-92d0-8deb393f1ab7.png)

- [x]  verify why the second bullet point is misalign

[2020-04-23 06:10] mmcky opened #36 "Updates to Coverage File needs Hard Reset (due to browser caching)"
Just updating a single lecture (which will update the coverage report) but the live site requried a hard reset to get the updated results to show (i.e. new badge showing passing).

Is there a way to remove this issue with the browser. Can we ask browsers not to cache the coverage file?

[2020-04-23 06:14] MaxGhenis opened #39 "Set seed when generating random numbers"
Minor suggestion to set the `numpy` random seed in lectures that generate random numbers. This would ensure that users get the same results as those posted on lectures.quantecon.org when they run the notebooks themselves.

The `np.random` module is currently used in 56 scripts: https://github.com/QuantEcon/lecture-source-py/search?q=np.random&unscoped_q=np.random

[2020-04-23 06:15] jstac opened #40 "Treat Dask and other libs in the Scientific Libraries lecture?"
Should dask be treated in this lecture: https://lectures.quantecon.org/py/sci_libs.html ?

Any other libraries we're not treating but should at least mention?  Jax?

I'm rehashing this question from Slack, where @AakashGfude says: dask is awesome and easy to use. I think we can. It has got a lot of traction as well, with 4.9k stars in github.

@mmcky @shizejin @qbatista @cc7768

Any library we tre

[2020-04-23 06:18] mmcky opened #43 "Cleanup: Check `conf.py` file for necessary settings."
Many of the settings for `website` and `coverage` are controlled using the `-D` flag in `Makefile`.

We should remove any unused items in `conf.py` file for these pipelines and/or settings that have default values.

[2020-04-23 06:26] Harveyt47 commented on #47
@mmcky can this be closed?

[2020-04-23 06:29] Harveyt47 commented on #51
@mmcky I think this can be closed?

[2020-04-23 06:31] jstac commented on #49
Thanks @Harveyt47 , we no longer use joblib.

[2020-04-23 06:31] #49 closed, assigned to mmcky

[2020-04-23 09:58] AakashGfude commented on #45
@Harveyt47 I think this can be closed.

[2020-04-23 10:18] shlff commented on #45
Thanks, @AakashGfude and @Harveyt47 . I will close it.

[2020-04-23 10:18] #45 closed, assigned to AakashGfude, shlff

[2020-04-23 10:49] Harveyt47 commented on #38
Hi @jstac I can only see rank size plots in the following lectures.

[Heavy-Tailed Distributions](https://python-intro.quantecon.org/heavy_tails.html#Exercise-4) this lecture uses log on the variables then plots those log variables while the PR you link uses `ax.loglog()`.

[Wealth Distribution Dynamics](https://python-intro.quantecon.org/wealth_dynamics.html#Exercise-2) this lecture uses log on t

[2020-04-23 12:04] Harveyt47 commented on #20
Hi @jstac @shlff @mtiley this issue about making all code blocks `.. code-block:: ipython3` in rst files? Just want to clarify before I dive into the issue.

[2020-04-24 00:19] Harveyt47 commented on #39
One source of significant difference in output is via a Markov Chain. This can be fixed where the qe markov function has the variable ` random_state`. setting `random_state=seed` will make output consistant.

[2020-04-24 00:23] Harveyt47 commented on #39
One source of significant difference in output is via a Markov Chain(for instance the [solution the exercise 1](https://python-intro.quantecon.org/finite_markov.html#Exercise-1)).
This can be fixed where the qe markov function has the variable `random_state`. Setting `random_state=seed` will make output consistant.

[2020-04-24 01:11] mmcky opened #55 "Add quantecon-services credentials for Github Actions Integrations"
Should enable `quantecon-services` as the credentials for:

1. Github Actions
1. Netlify Previews

[2020-04-24 01:12] mmcky commented on #55
- [ ] lecture-python-programming
- [ ] lecture-python-intro
- [ ] lecture-python-advanced

[2020-04-24 01:18] mmcky opened #56 "Enable GitHub Actions Deployment"
To enable GitHub Actions deployment of the lecture sites we will need to:

- [x] get some experience with current setup to ensure robust preview mechanism in place
- [x] understand how to cache the `_build` folder to make use of `sphinx` cache mechanism
- [x] enable action on merge to `master` to build entire site (html and pdf as separate tasks)
- [x] add `aws` cli credentials for uploading resul

[2020-04-24 04:43] mmcky commented on #54
This is no longer relevant due to the lecture split. Closing.

[2020-04-24 04:43] #54 closed, assigned to nobody

[2020-04-24 04:44] #53 closed, assigned to mtiley

[2020-04-24 04:48] mmcky opened #57 "README pages for new python lecture repos"
Currently the `README` files for each lecture repo is empty.

@jstac would you like the old style guides etc. replicated across all three repos?

Given it will likely be very similar across the three should we update the `README` to this `meta` repo and then add links to the others for Style Guide etc. to the README located in `lecture-python-website`?

[2020-04-24 04:54] mmcky commented on #20
`ipython3` is treated as a language synonym so fine to update
https://github.com/QuantEcon/lecture-python-intro/blob/f43f0986221c9bb75397971d6d45ba83f010ec8a/conf.py#L421

[2020-04-24 04:55] mmcky commented on #35
@AakashGfude can you review this issue when you have some time. Thanks.

[2020-04-24 04:55] mmcky commented on #41
@jstac is this something we want to add?

[2020-04-24 05:09] mmcky commented on #42
@Jacob-Bishop and @gen-li you should be able to use [jupinx](https://jupinx.quantecon.org) to compile these lecture sets. We have a lot of changes recently and split the lecture series. So let me know if you are still wanting to compile the lectures as notebooks etc. and I can assist.

[2020-04-24 05:09] #42 closed, assigned to nobody

[2020-04-24 05:10] mmcky commented on #47
I think we can close this until a issue crops up.

[2020-04-24 05:10] #47 closed, assigned to nobody

[2020-04-24 05:12] mmcky commented on #52
This has been added now:

https://python-intro.quantecon.org/exchangeable.html

[2020-04-24 05:12] #52 closed, assigned to mmcky

[2020-04-24 05:18] #41 closed, assigned to nobody

[2020-04-24 05:59] jstac commented on #20
It's probably a good idea to be consistent and use `ipython3` throughout.

But, on the other hand, this change will touch many lectures.  That's a bit of an issue.

Now I think about it, let's forget about this for now.

[2020-04-24 05:59] #20 closed, assigned to shlff, mtiley, Harveyt47

[2020-04-24 06:35] mmcky opened #58 "Add in delete propagations for publishing scripts"
currently we sync via `update files only rules` and don't propagate deletions as that is the default behaviour for `aws cli` `s3 sync`.

As lectures move between repositories this leaves behind stale `html` pages.

We need a mechanism to clean these up.

One option is to propagate deletions when sycning but we will need `sphinx` to build complete `sites` and `sitemaps` need to be added into the sy

[2020-04-24 06:55] #50 closed, assigned to DrDrij, AakashGfude

[2020-04-24 07:01] #51 closed, assigned to jstac, AakashGfude, mmcky, AnjuJoon

[2020-04-24 12:58] AakashGfude commented on #35
@mmcky was targeting these with the new refactor. As some of them are adjustments to the translator functions. I will work on these when I have time.

[2020-04-25 19:05] jstac commented on #38
Yes, thanks @Harveyt47,  the first two should be changed to use the quantecon Python library.

In each case, the code that generates a rank size plot from the data should be removed and the function `qe.rank_size_plot` should be used -- the data should be passed directly to this function.  When the exercise is stated, the reader should be informed of the existence of this library function.

[2020-04-27 02:21] Harveyt47 commented on #38
Thanks @jstac I see now.
1) I will add a reference of the functions existance as well as a link to the documentation to the exercise question.

2) I will also remove the code of the function from the answer and call the function via `qe.rank_size_plot`.

[2020-04-27 08:56] #38 closed, assigned to Harveyt47

[2020-04-29 00:47] mmcky commented on #57
@jstac Do you think we should setup docs to put together a writing guide and then we can link to a single location from all three REPOS. We could host the docs in this `meta` python website repo.

[2020-04-29 00:53] mmcky opened #59 "Add caching to Github Action workflows"
It would be good to have caching to enable

1. complete website previews for Pull Requests

[2020-04-29 00:55] mmcky commented on #56
https://github.com/marketplace/actions/s3-sync

[2020-04-29 01:03] mmcky commented on #59
https://github.com/actions/cache

[2020-04-29 01:08] mmcky opened #60 "Use Netlify for Deployment of Sites"
We could start using Netlify to deploy our websites but I don't see much upside at the moment as we would loose control over:

1. ability to do fine grained re-directs when moving site structures around

It would make automatic deployment a bit easier but we can use custom scripts to sync to `s3` and then invalidate the cache.

[2020-04-29 01:09] mmcky commented on #60
https://www.netlify.com

[2020-04-29 01:28] mmcky opened #61 "Add support for showing software environment on live site"
I think we should add a page `environment.html` that publishes the conda versions used to compile the website. Perhaps we can write a simple sphinx extension to do this work.

[code]

This would enable a user to download an `environment.yml` file and build a support page with details of versions of software used.

[2020-04-29 01:28] mmcky commented on #61
I will transfer this to `ExecutableBookProject`

[2020-04-29 01:42] mmcky commented on #61
https://github.com/ExecutableBookProject/jupyter-book/issues/517

[2020-04-29 01:45] jstac commented on #57
Yes, nice idea.  We have these somewhat neglected pages: https://quantecon.org/contribute/

We could put the info in the README there, as a guide for contributing to the lectures (as opposed to the libraries).

That could be combined with a review of those pages.  When reviewing, one aim should be to cut whatever information from our site we can easily outsource to somewhere else, and generally re

[2020-04-29 03:21] mmcky commented on #59
The GitHub implementation of `cache` works but isn't up-dateable.

So it would give the "feel" of a complete site but the PR will build the changed RST files and overwrite those lectures in the `_build/website/jupyter_html` folder.

I have written to GitHub to see if there is a way to save/retrieve artifacts to a central location to get updated copies of the site as PR's roll through.

[2020-04-29 04:15] mmcky commented on #57
Thanks -- this is a great idea. Let's make use of the `contribute` page for Lectures.

[2020-05-01 06:06] mmcky opened #63 "Add PDF to `cache.yml` workflows"
Adding `pdf` support requires another cache of texlive elements etc. This can be done but hasn't been added yet.

[2020-05-06 01:08] mmcky commented on #57
@Harveyt47 could you let me know when you have a PR ready for this. thanks.

[2020-05-06 01:23] Harveyt47 commented on #57
@mmcky yep, @sayaikegawa and I have discussed the following changes

- move 'Develop and contribute code' [section](https://quantecon.org/contribute/
) to [QuantEcon.py](https://quantecon.org/quantecon-py/) and [QuantEcon.jl](https://quantecon.org/quantecon-jl/) project pages
- Move 'Write a notebook' [section](https://quantecon.org/contribute/) to QuantEcon-notes about [page](https://notes.quante

[2020-05-06 04:40] mmcky commented on #57
@Harveyt47 @sayaikegawa @jstac

I think we need to build out the `contributions` pages rather than just a direct replacement. @jstac please chime in here if you disagree. I think the quantecon.org/contribute.html should connect people to contributing to all of `quantecon` projects (i.e. `lectures`, `software` etc. etc.) with Lectures being the most important. So I would think a nice top level page

[2020-05-06 04:45] Harveyt47 commented on #57
@mmcky I like that idea.

[2020-05-06 04:55] mmcky commented on #57
I am thinking of badges for:

1. Lectures (contain Style Guide for writing, and PRs)
1. Python Projects
1. Julia Projects (as Julia team to submit a contributors guide)
1. Help Others (Discourse Forum etc)
1. QuantEcon Notes
1. (optional) Executable Book Project Contributors Page but thought it would be nice to embed link to that project
1. Donations

[2020-05-06 05:47] mmcky commented on #57
@DrDrij might you be able to assist with the intermediate `contribution` landing page?

@Harveyt47 can you start work on:

1. contribute-lectures
1. contribute-python-software

with migration of information that we currently have (with any improvements you can think of)

[2020-05-06 06:10] Harveyt47 commented on #57
@mmcky  contribute-python-software is for contributing to QuantEcon.py yeah?.

If so, we already have this [page](https://quantecon.org/python-developers/) about how to contribute. Same for [julia](https://quantecon.org/julia-developers/).

[2020-05-06 06:15] mmcky commented on #57
@Harveyt47 we can start with that but it would be good to have a general set of guidelines for contributing to `python` projects (i.e. similar testing infrastructure etc.)

[2020-05-06 06:16] Harveyt47 commented on #57
Yep ok sounds good.

[2020-05-06 06:44] mmcky commented on #57
@Harveyt47 as part of the writeup for `contribute-python` page perhaps you can also try and setup `Github Actions` on QuantEcon.py via a PR. You can reference the [travis.yml](https://github.com/QuantEcon/QuantEcon.py/blob/master/.travis.yml) file for our current configuration and then setup `.github/workflows`.

Please use [Github Actions docs](https://help.github.com/en/actions) and look at `.gi

[2020-05-07 04:39] Harveyt47 commented on #57
Hey @mmcky I'm reading up on GitHub actions, looks interesting, I'll ping you slack when I have questions. Thanks.

[2020-05-07 10:14] mmcky opened #64 "PR's from external users can't fetch the Private QuantEcon themes"
When a PR is raised by an external user (i.e. not QuantEcon `python-lectures` access team list) the private theme is not able to be fetched in Github Actions.

- [ ] figure out how to specify a user for fetching the theme files for previews.

https://github.com/QuantEcon/lecture-python-advanced/pull/120

[2020-05-07 10:16] mmcky commented on #64
https://github.com/actions/checkout/issues/221

[2020-05-07 10:17] mmcky commented on #64
https://github.com/actions/checkout/issues/13

[2020-05-08 02:59] mmcky commented on #59
- [ ] We could have a `daily` cache with the date parameter added to the `cache` key if this becomes an issue.

[code]

[2020-05-08 03:24] mmcky commented on #60
I am going to close this as I think we want the fine grained control that `aws` `s3` provides us.

[2020-05-08 03:24] #60 closed, assigned to nobody

[2020-05-08 03:30] mmcky opened #65 "Setup s3 syncing for automated deployment to live site"
It would be good to have automatic deployments to the `live` s3 buckets hosted on `aws` when PR's are merged to `master`.

**Initial Approach**

1. upon merge to `master` do a clean build and deploy to s3 once successful. **Stage: 2** This will be a lot quicker if a `cache` mechanism can be added. However if using a `cache` mechanism careful debug will need to be done to ensure updates are consist

[2020-05-11 03:14] mmcky commented on #59
Included an implementation for daily `caching` for `html` previews.

- [ ] may need to consider the condition when cache is building for the day and is unavailable as an improvement to use previous days cache

[2020-05-12 01:43] mmcky commented on #59
So `cache` is incompatible with a `scheduled` type run. We won't get full `html` previews until this is merged.

https://github.com/actions/cache/issues/63

[2020-05-12 06:32] mmcky commented on #57
hey @Harveyt47 when you have a chance -- can you update me on this migration of content?

[2020-05-12 07:33] Harveyt47 commented on #57
Hey @mmckay I have migrated the README content into a `contribute_lectures.md` file. I will link this page to the ‘Contribute to the lecture’s section on the Contribute page. I will make a PR for this in the QuantEcon/website/pages repo.

I Have come up with a GitHub Actions ci with `nose` test that works successfully. I have also explained some of the test peoples code will go through and expecta

[2020-05-12 22:54] mmcky commented on #57
Great. Thanks.

It is mainly PEP8, testing requirements etc. We could add some additional requirements if we like such as `flake8`, `black` but I find them onerous for new contributors and that may deter contributors to QuantEcon.py so a bit reluctant to introduce them.

Thanks for the update @Harveyt47 feel free to open PR's when you're ready and I can review etc.

[2020-05-18 01:02] mmcky opened #67 "Update GitHub Actions - use minimal theme if private theme not available."
@jstac @shizejin the preview is not working here as private credentials for fetching the `private` theme are not available for PR's coming from forks. I will try and update the script if `private` theme is not available to build the preview using the default `minimal` theme

_Originally posted by @mmcky in https://github.com/QuantEcon/lecture-python/pull/214#issuecomment-629892256_

[2020-05-19 10:05] mmcky opened #68 "Setup PDF build Github Action for QuantEcon"
- [ ] maybe we should build an action based on [this github action](https://github.com/xu-cheng/latex-action) that adds an `anaconda` environment to the docker and then builds `make pdf`

[2020-05-19 10:12] mmcky commented on #44
This is no longer required as we are migrating to use `Github Actions`

[2020-05-19 10:12] #44 closed, assigned to nobody

[2020-05-19 10:13] mmcky commented on #59
This will need to remain open until Github fixes cache builds to run on a `schedule`

[2020-05-19 10:18] mmcky opened #69 "Setup HTML Proofer"
This looks like a popular tool for running `CI` checks on built HTML

https://github.com/gjtorikian/html-proofer

@DrDrij have you used anything like this before?

This would replace:

- [ ] linkchecker in sphinx and may be more reliable. Would need to test.

[2020-05-19 10:23] mmcky commented on #65
We can do this with `aws` actions for `credential auth` and a proof of concept is implemented on https://github.com/QuantEcon/website

[2020-05-19 10:23] #65 closed, assigned to nobody

[2020-05-19 10:25] mmcky commented on #63
I have added PDF as a separate workflow in https://github.com/QuantEcon/lecture-python

[2020-05-19 10:25] #63 closed, assigned to mmcky

[2020-05-19 10:26] mmcky commented on #64
This can't be done as a `fork` will never have credentials for `netlify` deploys and previews.

I have added artifacts in the meantime when a `fork` is build so the `html` files could be downloaded and checked. https://github.com/QuantEcon/lecture-python/pull/218

[2020-05-19 10:26] #64 closed, assigned to nobody

[2020-05-19 10:27] mmcky commented on #67
This is now implemented in `lecture-python`

Need to add to:

- [x] programming
- [x] advanced

[2020-05-19 10:27] mmcky commented on #46
No longer needed/

[2020-05-19 10:27] #46 closed, assigned to DrDrij

[2020-05-19 10:28] mmcky commented on #56
We know how this can be done so I am closing this issue now.

[2020-05-19 10:28] #56 closed, assigned to mmcky

[2020-05-20 03:11] mmcky opened #70 "Archive Repository and Migrate Issues"
this repository needs to be archived as old infrastructure

- [ ] migrate issues

[2020-05-21 04:56] mmcky commented on #57
@Harveyt47 has added a page for contributing to lectures which contains the old README information when we had a unified lecture site. This page is now hosted on the `orgsite` in [QuantEcon/website](https://github.com/QuantEcon/website) .

There are still quite a few elements to this issue.

@DrDrij could you let me know when you might get a chance to mock up a page (as suggested above) for contri

[2020-05-26 23:55] mmcky commented on #70
@DrDrij is there anything in this repo you'd like to preserve?

[2020-05-27 01:20] DrDrij commented on #70
I've taken a final pull. Thanks @mmcky

[2020-06-01 01:19] mmcky commented on #2
This is  now done - so closing. @sayaikegawa is setting up links from the lecture pages to this `contributor` page hosted on `orgsite`

[2020-06-01 01:19] #2 closed, assigned to nobody

[2020-06-01 01:19] mmcky commented on #4
closing as scheduled link checking is now being done by `github actions`

[2020-06-01 01:19] #4 closed, assigned to nobody

[2020-06-01 01:20] mmcky commented on #6
This was done as part of the migration into split lectures.

https://python.quantecon.org/about_lectures.html

[2020-06-01 01:20] #6 closed, assigned to nobody

[2020-06-01 01:25] mmcky commented on #8
This is done. See https://github.com/QuantEcon/lecture-python-website/issues/2

[2020-06-01 01:25] #8 closed, assigned to DrDrij, AakashGfude, mmcky

[2020-06-01 01:25] mmcky commented on #11
Thanks @DrDrij -- this work is now complete.

[2020-06-01 01:25] #11 closed, assigned to nobody

[2020-06-01 01:26] mmcky commented on #12
Closing as this is now completed

[2020-06-01 01:26] #12 closed, assigned to DrDrij

[2020-06-01 01:26] mmcky commented on #14
@DrDrij has this been done?

[2020-06-01 01:29] mmcky commented on #15
@DrDrij There are currently two boxes. Do we need to add in the `GitHub` box? i only see two boxes under the "Other ways to...". Is this issue old -- did we decided to remove the GitHub box elsewhere?

[2020-06-01 01:30] mmcky commented on #3
This is implemented. `Theme` have different colours and a context bar.

[2020-06-01 01:30] #3 closed, assigned to jstac, DrDrij, mmcky

[2020-06-01 01:31] mmcky commented on #18
@shlff can you provide a status update on this? Thanks.

[2020-06-01 04:29] mmcky commented on #67
@najuzilu do you think you might be able to migrate these changes to the other repos?

[2020-06-01 04:34] najuzilu commented on #67
@mmcky :+1:

[2020-06-01 04:40] mmcky commented on #68
**Note:** we currently have `pdf` support via custom `config` files that do the job so this is about improvements we could do in the future to simplify deployments for new projects

[2020-06-01 04:41] mmcky commented on #61
This is a new feature that I have moved to executable books. Closing this to track there.

[2020-06-01 04:41] #61 closed, assigned to nobody

[2020-06-01 04:44] mmcky commented on #48
Closing as we have moved to use `Github Actions`

[2020-06-01 04:44] #48 closed, assigned to nobody

[2020-06-01 04:51] mmcky commented on #39
@Harveyt47 I can't remember. Have you submitted a PR for this. I know you were looking into the seed issue.

[2020-06-01 04:59] mmcky commented on #15
@jstac is this resolved?I don't see any GitHub box. Did we decide to remove somewhere else?

[2020-06-01 05:00] mmcky commented on #17
Closing this -- `EBP` theme support has been setup as a funded grant so I don't think this issue is needed for tracking.

[2020-06-01 05:00] #17 closed, assigned to DrDrij

[2020-06-01 05:02] mmcky commented on #37
Closing this as we won't invest further involved testing into `sphinxcontrib-jupyter` as we move to support `EBP` in the future.

[2020-06-01 05:02] #37 closed, assigned to nobody

[2020-06-01 05:45] Harveyt47 commented on #39
I haven't for the markov chain one but I will. I was working on wealth dynamics as well and got an understanding of how seeds worked with `numba`. I wasn't completely sure if we were going to set seeds across all lectures

[2020-06-01 07:58] #15 closed, assigned to DrDrij

[2020-06-02 03:56] shlff commented on #18
Thanks @mmcky .

@AakashGfude and I discussed the possibility of option 3 in Feb. If possible, we could implement this fixing after finishing our exams and thesis.

[2020-06-02 03:57] mmcky commented on #18
Good luck with both the `exams` and `thesis` @shlff. Thanks for the update.

[2020-06-04 00:06] najuzilu commented on #67
Github Actions have been added for the following repos:
- programming [see merged PR](https://github.com/QuantEcon/lecture-python-programming/pull/58)
- advanced [see merged PR](https://github.com/QuantEcon/lecture-python-advanced/pull/132)

[2020-06-04 00:45] mmcky commented on #67
thanks @najuzilu

[2020-06-04 00:45] #67 closed, assigned to nobody

[2020-06-04 00:46] mmcky commented on #70
thanks @DrDrij all issues migrated so will archive this now.

[2020-06-04 00:46] #70 closed, assigned to nobody